body {
    background-color: #1a1a1a !important;
    color: #c7d4e8;
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1 {
    color: #ffcd1e;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffcd1e;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #f0f0f0;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #ffcd1e;
    color: #1a1a1a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #b3920f;
}

.navbar {
    margin-bottom: 10%;
    background-color: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar a {
    color: #ffcd1e;
    text-decoration: none;
    padding: 8px;
}

.navbar a:hover {
    background-color: #b3920f;
    color: #1a1a1a;
}

.blueprints-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.blueprint-item {
    flex-basis: calc(33.33% - 20px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #2e2e2e;
    border-radius: 5px;
    overflow: hidden;
}

.blueprint-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blueprint-item .title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffcd1e;
}

.blueprint-details {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 4px;
}

#blueprintImageContainer {
    margin-bottom: 20px;
}

#blueprintImageContainer img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#blueprintUsername {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffcd1e;
}

#blueprintDate {
    color: #b3920f;
    margin-bottom: 10px;
}

#blueprintDescription {
    margin-bottom: 10px;
    color: #c7d4e8;
}


.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    color: #f0f0f0;
    text-align: justify;
}

.about-header {
    text-align: center;
    color: #ffcd1e;
    margin-bottom: 20px;
}

.about-paragraph {
    margin-bottom: 20px;
}

.about-paragraph:first-of-type {
    margin-top: 0;
}

.about-paragraph:last-of-type {
    margin-bottom: 0;
}

.about-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}
