/* Algemene stijlen */

body {
    background-color: #1a1a1a;
    color: #c7d4e8;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2 {
    color: #ffcd1e;
    margin-top: 0;
}

/* Navbar */

.navbar {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffcd1e;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu-item {
    margin-left: 20px;
}

.navbar-menu-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-menu-link:hover {
    color: #ffcd1e;
}

/* Blueprints Container */

.blueprints-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.blueprint-item {
    flex-basis: calc(33.33% - 20px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #2e2e2e;
    border-radius: 5px;
    overflow: hidden;
}

.blueprint-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blueprint-item .title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffcd1e;
}

/* Upload Blueprint Page */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.upload-title {
    color: #ffcd1e;
    text-align: center;
}

.upload-message {
    margin-bottom: 1rem;
}

.upload-form {
    max-width: 400px;
    width: 100%;
    margin-top: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    color: #c7d4e8;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #f0f0f0;
}

textarea.form-control {
    resize: vertical;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #f0f0f0;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 8px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #2e2e2e;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    color: #f0f0f0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu li:hover {
    background-color: #545454;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #2e2e2e;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #545454;
}

#selectedTags {
    display: none;
}

/* Blueprint Details */

.blueprint-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    width: 80%;
}

.blueprint-details .left-column {
    flex: 40%;
}

.blueprint-details .right-column {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#blueprintImageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#blueprintImageContainer img {
    max-width: 80%;
    height: auto;
}

#blueprintUserContainer {
    margin-bottom: 2rem;
}

#blueprintDescriptionContainer {
    max-width: 600px;
    height: 600px;
    overflow-y: auto;  /* Hiermee wordt scrollen ingeschakeld als de inhoud groter is dan de container */
    overflow-x: hidden;  /* Voorkomt horizontaal scrollen */
    word-wrap: break-word;  /* Breekt lange woorden af naar de volgende regel */
}


#blueprintDescription {
    margin: 0;
}

/* About Page */

.about-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-header {
    color: #ffcd1e;
}

.about-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-paragraph {
    margin-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Update Blueprint Page */

#updateBlueprintForm {
    max-width: 400px;
    width: 100%;
    margin-top: 2rem;
}

#updateBlueprintForm label {
    color: #c7d4e8;
}

#updateBlueprintForm input[type="text"],
#updateBlueprintForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #f0f0f0;
    resize: vertical;
    margin-bottom: 1.5rem;
}

#updateBlueprintForm button[type="submit"] {
    padding: 8px 16px;
    background-color: #2e2e2e;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#updateBlueprintForm button[type="submit"]:hover {
    background-color: #545454;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button {
    margin: 0.5rem;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #545454;
}
